<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar Fragment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link href="../../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet">
    <div class="container">
        <a href="#" class="navbar-brand">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plugin"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a7 7 0 1 1 2.898 5.673c-.167-.121-.216-.406-.002-.62l1.8-1.8a3.5 3.5 0 0 0 4.572-.328l1.414-1.415a.5.5 0 0 0 0-.707l-.707-.707 1.559-1.563a.5.5 0 1 0-.708-.706l-1.559 1.562-1.414-1.414 1.56-1.562a.5.5 0 1 0-.707-.706l-1.56 1.56-.707-.706a.5.5 0 0 0-.707 0L5.318 5.975a3.5 3.5 0 0 0-.328 4.571l-1.8 1.8c-.58.58-.62 1.6.121 2.137A8 8 0 1 0 0 8a.5.5 0 0 0 1 0Z"/>
            </svg>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/" class="nav-link " id="home_link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="/addons" class="nav-link" id="addons_link">Addons</a>
                </li>
                <li class="navbar-item">
                    <a href="/about" class="nav-link" id="about_link">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto end-0">
                <li class="navbar-item" th:if="${not loggedIn}">
                    <a class="nav-link " id="login-link-btn"
                       data-bs-toggle="modal" data-bs-target="#login-modal">Login</a>
                </li>
                <li class="navbar-item " th:if="${not loggedIn}">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#register-modal">Register</a>
                </li>
                <li class="navbar-item " th:if="${admin}">
                    <!--                     <a class="nav-link btn btn-danger" href="/users">Admin</a>-->

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/users">Users Panel</a>
                            <a class="dropdown-item" href="/addons/pending">Pending Addons</a>
                        </div>
                    </div>

                </li>
                <li class="navbar-item" th:if="${loggedIn}">
                    <a href="/profile" class="nav-link" id="profile_link">Profile</a>
                </li>
                <li class="navbar-item" th:if="${loggedIn}">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <!--    Login modal-->
    <div class="modal" id="login-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Login</h1>
                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#login-modal"></button>
                </div>
                <div class="modal-body">
                    <form novalidate name='f'
                          th:action="@{/login}"
                          method="post"
                          id="loginForm">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="username-input" name="username"
                                   placeholder="Username input field" required>
                            <label for="username-input" class="form-label">Username</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password-input" name="password"
                                   placeholder="Password input field" required>
                            <label for="password-input" class="form-label">Password</label>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" id="login-button">Login</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" th:if="${param.error}">
                    <span class="text-danger">Wrong username or password!</span>
                </div>
            </div>
        </div>
    </div>
    <!--    End login modal-->
    <div class="modal" id="register-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Register</h1>
                    <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#register-modal"></button>
                </div>
                <div class="modal-body">
                    <form novalidate
                          id="registerForm">
                        <div class="form-floating">
                            <input id="firstName" class="form-control" type="text"
                                   placeholder="Enter your first name..."
                                   data-sb-validations="required" required/>
                            <label for="firstName" class="form-label">First Name</label>
                            <span class="text-danger" id="first-name-error"></span>
                        </div>
                        <div class="form-floating">
                            <input id="lastName" class="form-control" type="text" placeholder="Enter your last name..."
                                   data-sb-validations="required" required/>
                            <label for="lastName" class="form-label">Last Name</label>
                            <span class="text-danger" id="last-name-error"></span>
                        </div>
                        <div class="form-floating">
                            <input id="emailField" class="form-control" type="text"
                                   placeholder="Enter your last name..."
                                   data-sb-validations="required" required/>
                            <label for="emailField" class="form-label">Email</label>
                            <span class="text-danger" id="email-error"></span>
                        </div>
                        <div class="form-floating">
                            <input id="usernameField" class="form-control" type="text"
                                   placeholder="Enter your last name..."
                                   data-sb-validations="required" required/>
                            <label for="usernameField" class="form-label">Username</label>
                            <span class="text-danger" id="username-error"></span>
                        </div>
                        <div class="form-floating">
                            <input id="phoneField" class="form-control" type="tel" placeholder="Enter your last name..."
                                   data-sb-validations="required" required/>
                            <label for="phoneField" class="form-label">Phone number</label>
                            <span class="text-danger" id="phone-error"></span>
                        </div>
                        <div class="form-floating">
                            <input id="passwordField" class="form-control" type="password"
                                   placeholder="Enter your last name..."
                                   data-sb-validations="required" required/>
                            <label for="passwordField" class="form-label">Password</label>
                            <span class="text-danger" id="password-error"></span>
                        </div>
                        <div class="form-floating">
                            <input id="passwordVerificationField" class="form-control" type="password"
                                   placeholder="Enter your last name..."
                                   data-sb-validations="required" required/>
                            <label for="passwordVerificationField" class="form-label">Retype password</label>
                            <span class="text-danger" id="password-verification-error"></span>
                        </div>
                        <div>
                            <button class="btn btn-primary" name="submit" type="submit" id="register-button">Sign up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  Scripts  -->
    <script th:src="@{/javascript/navbar.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script>
        // Login form
        if (window.location.href.includes("error")) {
            $(document).ready(function () {
                document.getElementById('login-link-btn').click()
            })
        }

        const login_form = document.getElementById("loginForm")

        const home_link = document.getElementById('home_link')
        const addons_link = document.getElementById('addons_link')
        const about_link = document.getElementById('about_link')

        login_form.addEventListener('submit', e => {
            if (!login_form.checkValidity()) {
                e.preventDefault()
                login_form.classList.add('was-validated')
            }
            show_loading('login-button')
        })
        const url = window.location.href;
        if (url === 'http://localhost:8080/') {
            home_link.classList.add('active')
        }
        if (url.includes('addons')) {
            addons_link.classList.add('active')
        }
        if (url.includes('about')) {
            about_link.classList.add('active')
        }

    </script>
</nav>
</body>
</html>