.test-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
}
.addon-container{
    display: flex;
    flex-direction: row;
    margin:100px;
    width:100%;
}


.addon-box {
    width: 400px;
    height: 300px;
    border: 2px solid gray;
    margin: 20px;

}

.bottom {
    bottom: 0;
    left: 0;
}

.all-border{
    margin:20px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.center {
    margin: auto;
    width: auto;
    padding: 10px;
    text-align: center;
}

.search-name{
    width: 20%;
    float:left;
    border: 5px;
}

.search-border{
    margin: auto;
    width: auto;
    padding: 2px;
}

.bottom-left {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 50%;
    margin-left: 10px;
}







