.addons-container{
    display: flex;
    flex-direction: row;

}

.filter-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.addon-box{
    width: 500px;
    height: 200px;
    border: 1px solid gray;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    align-content: start;
}

.section-header{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-size: 25px;
}

.addon-box > a{
    font-size: 20px;
    text-decoration: none;
}

.addon-box > a:hover{
    text-decoration: none;

}


.content-global-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}