.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 400px;
    gap: 20px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.login-form h1{
    font-size: 40px;
    color: teal;
}

.login-form input{
    padding: 20px;
    border: none;
    border-bottom: 1px solid gray;
}

.login-form label{
    font-size: 20px;
}
.login-form .button{
    background: lightblue;
}
