.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form h1{
    font-size: 40px;
    color: teal;
    text-align: center;
}
.register-form {
    background: white;
    width: 500px;
    align-items: center;
}

#userform{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 30px;
    width: auto;
    gap: 20px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form input{
    margin-left: 10px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid gray;
}

.sign-up-button{
    align-items: center;
    background: lightblue;

}