.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li a:hover,
.rating-list li a:hover ~ li {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.rating-list li a {
    color: #ddd;
}



