<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<title>Not Authorized</title>
</head>
<body>
<!-- Not Found Text -->
<section>
    <div>
        <div>
            <h2>You are not authorized to see this information.</h2>
            <p th:text="${error}">Please try again.</p>
        </div>
    </div>
</section>
</body>
</html>