<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="../../static/css/addon.css" th:href="@{/css/addon.css}" rel="stylesheet">
    <link href="../../static/css/addons.css" th:href="@{/css/addons.css}" rel="stylesheet">
    <!--    <link href="../../static/css/addon_card.css" th:href="@{/css/addon.css}" rel="stylesheet">-->
    <title>Addons Marketplace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/navbar"></div>

<div th:if="${addons.isEmpty()}">
    <p th:text="#{addon.title.empty}">No Addons</p>
</div>

<section>  <!-- add addon button  -->
    <div class="container">
        <h3 class="display-6 center all-border">Browse Addons </h3>
        <p></p>
        <div th:if="${addons.isEmpty()}">
            <p th:text="#{addon.name.empty}">No Addons</p>
        </div>
    </div>
</section>

<!-- SORT AND FILTER -->
<section class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="text-center mb-5">
                <form th:action="@{__${#httpServletRequest.requestURI}__}"
                      th:object="${addonFilterDto}"
                      method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </div>
                                <div class="input-group-text" th:text="#{addon.label.name}">Name</div>
                                <input class="form-control" type="text" placeholder="Addon Name" th:field="*{name}">

                                <div class="input-group-text" th:text="#{addon.label.targetIDE}">Target IDE</div>
                                <input class="form-control" type="text" placeholder="Target IDE"
                                       th:field="*{targetIde}">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-around">
                        <div class="col-6">
                            <div class="row">
                                <div class="col gx-4 gy-2">
                                </div>
                                <div class="col gx-4 gy-2">
                                    <select class="form-select"
                                            th:field="*{sortParam}">
                                        <option selected th:value="null" value="null"> Sort Order</option>
                                        <option th:each="sortParam : ${sortParams}"
                                                th:value="${sortParam.toString()}"
                                                th:text="${sortParam.toString()}">Sort Order
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 gx-2 gy-2">

                            <input class="form-control" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="d-grid col-3"><a type="button" class="btn btn-primary all-border" href="#!"
                                             th:href="@{__${#httpServletRequest.requestURI}__/new}" th:if="${loggedIn}">
                    Upload Addon </a></div>
            </div>
            <div class="row row-cols-lg-4 row-cols-sm-1 gy-0 gx-0">
                <div th:if="${addon.isApproved()}" class="col-8 d-flex justify-content-center"
                     th:each="addon : ${addons}">

                    <!--New Addon Card-->
                    <!--                    <a class="btn" th:href="@{/addons/{id}(id=${addon.getAddonId()})}">-->
                    <div class="container mt-0 mb-0 p-0 d-flex justify-content-center">
                        <div class="card bg-light mb-3 p-5">
                            <div class=" image d-flex flex-column justify-content-center align-items-center">
                                <a class="btn" th:href="@{/addons/{id}(id=${addon.getAddonId()})}">
                                    <img
                                            th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(addon.getImage().getImage())}"
                                            alt="Addon image"
                                            height="100"
                                            width="100"
                                            class="rounded-circle"/>
                                </a>
                                <span class="name mt-3" th:text="${addon.name}">Name</span>
                                <span class="idd" th:text="${addon.getTargetIDE()}">Target IDE</span>
                                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                            <span class="number" th:text="${addon.getDownloads()} + ' Downloads'">
                            </span>
                                </div>
                                <div class=" d-flex mt-2">
                                    <a class="btn btn-primary all-border"
                                       th:href="@{/addons/{id}/download(id=${addon.getAddonId()})}">Download</a>
                                </div>
                                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                                    <div class="d-flex justify-content-center">

                                        <div class="content text-center">

                                            <div class="ratings">

                                                <span class="product-rating"
                                                      th:text="${addon.getAverageRating()}">4.6</span><span>/5</span>
                                                <div th:if="${addon.getAverageRating()}==0" class="stars">

                                                </div>
                                                <div th:unless="${addon.getAverageRating()}==0" class="stars">
                                                    <i style="color:#fbc634" class="fa fa-star"
                                                       th:each="i: ${#numbers.sequence(1, addon.getAverageRating())}"></i>
                                                </div>

                                                <div class="rating-text">

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End New Addon Card-->
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section>

<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>
