<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../../static/css/stars.css" th:href="@{/css/stars.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title th:text="${addons.name}">Addon</title>
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/navbar"></div>
<!-- Header-->
<!-- Addon Table-->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-0 ">
        <div>
            <p th:text="${error}">Addon error placeholder</p>
        </div>
        <div class="text-center mb-5">
            <h2 class="fw-bolder" th:text="${addons.getName()}">Addon information</h2>
        </div>
        <!-- IMAGE -->
        <div class="row">
            <div class="col-2 text-center">
                <div class="row">
                    <img th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(addons.getImage().getImage())}"
                         class="img-thumbnail shadow-4"
                         style="width: 200px; height: 200px" alt="Addon image"/>
                </div>
                <!-- Addon Actions-->
                <!-- Download -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a type="button" class="btn btn-primary all-border"
                           href="#!" th:href="@{__${#httpServletRequest.requestURI}__/download}">Download
                            Addon</a>
                    </div>
                </div>
                <!-- Update Addon -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/update}"
                           th:if="${(admin || addons.getCreator().username == logged_username) and addons.isApproved()}">
                            Edit Addon</a>
                    </div>
                </div>
                <!-- Upload Image -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" data-toggle="modal" data-target="#uploadImage"
                           th:if="${(admin || addons.getCreator().username == logged_username) and addons.isApproved()}">
                            Upload Image</a>
                    </div>
                </div>
                <!-- Delete Image -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!"
                           th:href="@{__${#httpServletRequest.requestURI}__/delete-image}"
                           th:if="${(admin || addons.getCreator().username == logged_username) and addons.isApproved()}">
                            Delete Image</a>
                    </div>
                </div>
                <!-- Add to Featured -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!"
                           th:href="@{__${#httpServletRequest.requestURI}__/feature}"
                           th:if="${admin and addons.isApproved() and not addons.isFeatured()}">
                            Add to Featured</a>
                    </div>
                </div>
                <!-- Remove from Featured -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!"
                           th:href="@{__${#httpServletRequest.requestURI}__/removeFeatured}"
                           th:if="${admin and addons.isApproved() and addons.isFeatured()}">
                            Remove from Featured</a>
                    </div>
                </div>
                <!-- Add Tag -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/addTag}"
                           th:if="${(admin || addons.getCreator().username == logged_username) and addons.isApproved()}">
                            Add tag</a>
                    </div>
                </div>
                <!-- Delete -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/delete}"
                           th:if="${(admin || addons.getCreator().username == logged_username) and addons.isApproved()}">
                            Delete</a>
                    </div>
                </div>
                <!-- Rate Addon -->
                <div th:if="${loggedIn and addons.isApproved()}" class="row justify-content-center">
                    <div class="col">
                        <ul class="list-inline rating-list">

                            <li>
                                <a href="#!" th:href="@{__${#httpServletRequest.requestURI}__/rating/5}">
                                    <i class="fa fa-star" title="Rate 5"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#!" th:href="@{__${#httpServletRequest.requestURI}__/rating/4}">
                                    <i class="fa fa-star" title="Rate 4"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!" th:href="@{__${#httpServletRequest.requestURI}__/rating/3}">
                                    <i class="fa fa-star" title="Rate 3"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!" th:href="@{__${#httpServletRequest.requestURI}__/rating/2}">
                                    <i class="fa fa-star" title="Rate 2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!" th:href="@{__${#httpServletRequest.requestURI}__/rating/1}">
                                    <i class="fa fa-star" title="Rate 1"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-success" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/approve}"
                           th:if="${admin and not addons.isApproved()}">
                            Approve</a>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-danger" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/delete}"
                           th:if="${admin and not addons.isApproved()}">
                            Reject</a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <!-- Description -->
                <p th:text="${addons.getDescription()}">Addon Description</p>
                <!-- Tags -->
                <div th:each="tag : ${addons.getTags()}" class="btn-group" role="group" aria-label="Basic example">
                    <button th:text="'#' + ${tag.getName()}" type="button" class="btn btn-secondary">Left</button>
                </div>
                <!-- Rating -->
                <div class="ratings">

                    <span class="product-rating" th:text="'Rating: ' + ${addons.getAverageRating()}">Rating</span><span>/5</span>
                    <div th:if="${addons.getAverageRating()}==0" class="stars"></div>
                    <div th:unless="${addons.getAverageRating()}==0" class="stars">
                        <i style="color:#fbc634" class="fa fa-star"
                           th:each="i: ${#numbers.sequence(1, addons.getAverageRating())}"></i>
                    </div>

                    <div class="rating-text">

                    </div>

                </div>

                </br></br>
                <!-- Addon table-->
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <!-- Addon Heading Data -->
                        <thead>
                        <tr>
                            <th scope="col">Addon info</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr>
                            <td th:text="#{addon.label.name}">Name</td>
                            <td th:text="${addons.name}">Username</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.createdBy}">Owner</td>
                            <td th:text="${addons.getCreator().getUsername}">Owner</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.targetIDE}">Target IDE</td>
                            <td th:text="${addons.getTargetIDE()}">Target IDE</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.creationTime}">Uploaded on</td>
                            <td th:text="${addons.getCreationTime().toString().substring(0,10)}">Uploaded on</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.origin}">Origin</td>
                            <td th:text="${addons.getSourceUrl()}">Origin</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.downloads}">Downloads</td>
                            <td th:text="${addons.getDownloads()}">Downloads</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.commitDate}">Last Commit On</td>
                            <td th:text="${addons.getLastCommitDate()}">Last Commit On</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.commitMessage}">Last Commit Message</td>
                            <td th:text="${addons.getLastCommitMessage()}">Last Commit Message</td>
                        </tr>
                        <tr>
                            <td th:text="#{addon.label.pullRequests}">Pull requests</td>
                            <td th:text="${addons.getPullRequests()}">Pull requests</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Image Upload -->
<div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadImage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{__${#httpServletRequest.requestURI}__}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="formFile" class="form-label">Upload Your file</label>
                        <input name="file" class="form-control" type="file" id="formFile">
                        <p th:text="${error}">Image upload error placeholder</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Upload image</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>