<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--- insert resource here -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <title>Add Tag</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<section class="bg-light py-2">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Add tag to addon:</h2>
            <h2 class="fw-bolder" th:text="${addonName}"></h2>
            <p class="lead mb-0">Share your travel experiences around the world!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <!--tag input form-->
                <form th:fragment="tagform"
                      action="#"
                      th:action="@{__${#httpServletRequest.requestURI}__}"
                      th:object="${tagDto}"
                      method="post"
                      id="tagForm">

                    <!--tag-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your first name..."
                               data-sb-validations="required" th:field="*{name}"/>
                        <label for="name" th:text="#{tag.label.name}">Enter Tag Name</label>
                        <small th:errors="*{name}" class="text-danger">Tag name error placeholder</small>
                    </div>
                    <div class="d-grid">
                        <input type="submit" value="Create tag"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>