<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Add Addon</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<section class="bg-light py-2">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Add a new addon</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <!--input form-->
                <form th:fragment="addonform"
                      action="#"
                      th:action="@{__${#httpServletRequest.requestURI}__}"
                      th:object="${addonDto}"
                      method="post"
                      enctype="multipart/form-data">
                    <!--name-->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" placeholder="Enter addon name..."
                               data-sb-validations="required" th:field="*{name}"/>
                        <label th:text="#{addon.label.name}">Name</label>
                        <small th:errors="*{name}" class="text-danger">Title error placeholder</small>
                    </div>
                    <!--target IDE-->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" placeholder="Enter target IDE..."
                               data-sb-validations="required" th:field="*{targetIDE}"/>
                        <label th:text="#{addon.label.targetIDE}">Target IDE</label>
                    </div>
                    <!-- Git link -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" placeholder="Enter git link..."
                               data-sb-validations="required" th:field="*{source_url}"/>
                        <label th:text="#{addon.label.source_url}">Git link</label>
                    </div>
                    <!-- Tag -->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" placeholder="Enter addons tag..."
                               data-sb-validations="required" th:field="*{tag}"/>
                        <label th:text="#{addon.label.tags}">Tag</label>
                        <small th:errors="*{tag}" class="text-danger">Tag error placeholder</small>
                    </div>

                    <!--description-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."
                                  style="height: 10rem" data-sb-validations="required"
                                  th:field="*{description}"></textarea>
                        <label for="message" th:text="#{addon.label.description}">Description</label>
                    </div>
                    <!--binary content-->
                    <div class="form-floating mb-3">
                        <input class="form-control" type="file" placeholder="Upload file..."
                               data-sb-validations="required" th:field="*{file}" multiple="multiple"/>
                        <!--                        <label th:text="#{addon.label.tags}">Tags</label>-->
                        <small th:errors="*{file}" class="text-danger">Tag error placeholder</small>
                    </div>
                    <!--submit button-->
                    <div class="d-grid">
                        <input type="submit" value="Add addon"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>