<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--- insert resource here -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <title>Addon update</title>

<body>
<div th:replace="fragments/navbar"></div>

<section class="bg-light py-2">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Update existing addon</h2>
            <p class="lead mb-0">Please, enter the information to update.</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <!--addon update form-->
                <section>
                    <form th:fragment="postform"
                          action="#"
                          th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${addonDto}"
                          method="post">
                        <!--name-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" data-sb-validations="required"
                                   th:field="*{name}"/>
                            <label for="name" th:text="#{addon.label.name}">Name</label>
                            <small th:errors="*{name}">Name error placeholder</small>
                        </div>

                        <!--description-->

                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="description" type="text" style="height: 20rem"
                                      data-sb-validations="required" th:field="*{description}"></textarea>
                            <label for="description" th:text="#{addon.label.description}">Description</label>
                            <small th:errors="*{description}" class="text-black-50">Description error
                                placeholder</small>
                        </div>
                        <!--submit button-->
                        <div class="d-grid">
                            <input type="submit" value="Edit addon"/>
                        </div>
                    </form>
                </section>

            </div>
        </div>
    </div>
</section>
<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>