<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--- insert resource here -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <title>Addons Home</title>
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/navbar"></div>
<!-- Header-->
<header>
    <!-- Background image -->
    <div
            class="bg-image p-5 text-center shadow-1-strong mb-0 text-white"
            style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');"
            th:style="'background: url(/img/polygonal19.jpg) no-repeat center center fixed; background-size: cover;'">
        <p class="display-1 mb-3 text-white">Addonis</p>
        <p class="display-4 text-dark">Publish and discover addons</p>
        <p class="display-6 text-secondary">built for the community</p>
    </div>
    <!-- Background image end -->
</header>

<section class="bg-dark.bg-gradient">
    <section class="bg-light py-1 border-bottom">
        <div class="container px-5 my-2">
            <div class="text-center mb-5">
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Top 10  most downloaded addons-->
                <div class="col-sm-1 col-lg-4 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-header bg-dark bg-gradient ">
                            <h4 class="card-title display-8 text-center text-white">Most downloaded</h4>
                        </div>
                        <div class="card-body p-5 bg-light bg-gradient">
                            <section>
                                <div class="row">
                                    <table class="table table-sm table-hover">
                                        <tbody>
                                        <tr th:each="addon: ${mostDownloaded}">
                                            <td th:if="${addon.isApproved()}" class="text-center">
                                                <a href="#" th:href="@{/addons/{id}(id=${addon.getAddonId()})}">
                                                    <img th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(addon.getImage().getImage())}"
                                                         class="img-thumbnail shadow-4"
                                                         style="width: 70px; height: 70px"/>
                                                </a>
                                                <p class="text-dark"
                                                   th:text="${addon.name}">Name</p>
                                                <p class="text-secondary"
                                                   th:text="${addon.getDownloads()} + ' downlads'">
                                                    Downloads</p>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </section><!-- End Most Recent Addons Section -->
                            <div class="d-grid"><a class="btn btn-dark" href="#!" th:href="@{/addons}">View
                                all addons</a></div>
                        </div>
                    </div>
                </div>
                <!--Ten Most Recent-->
                <div class="col-lg-4 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-header bg-secondary bg-gradient ">
                            <h4 class="card-title display-8 text-center text-white">Most recent</h4>
                        </div>
                        <div class="card-body p-5 bg-light bg-gradient">
                            <section>
                                <div class="row">
                                    <table class="table table-sm table-hover">
                                        <tbody>
                                        <tr th:each="addon: ${mostRecent}">
                                            <td th:if="${addon.isApproved()}" class="text-center">
                                                <a href="#" th:href="@{/addons/{id}(id=${addon.getAddonId()})}">
                                                    <img th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(addon.getImage().getImage())}"
                                                         class="img-thumbnail shadow-4"
                                                         style="width: 70px; height: 70px"/>
                                                </a>
                                                <p class="text-dark"
                                                   th:text="${addon.name}">Name</p>
                                                <p class="text-secondary"
                                                   th:text="${addon.getCreationTime().toString().substring(0,10)}">
                                                    Creation
                                                    time</p>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </section>
                            <div class="d-grid"><a class="btn btn-secondary" href="#!" th:href="@{/addons}">View
                                all addons</a></div>
                        </div>
                    </div>
                </div>
                <!-- End Most Recent Addons Section -->
                <!-- Featured 10-->
                <div class="col-lg-4 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-header bg-primary bg-gradient ">
                            <h4 class="card-title display-8 text-center text-white">Featured</h4>
                        </div>
                        <div class="card-body p-5 bg-light bg-gradient">
                            <section>
                                <div class="row">
                                    <table class="table table-sm table-hover">
                                        <tbody>
                                        <tr th:each="addon: ${featured}">
                                            <td th:if="${addon.isApproved()}" class="text-center">
                                                <a href="#" th:href="@{/addons/{id}(id=${addon.getAddonId()})}">
                                                    <img th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(addon.getImage().getImage())}"
                                                         class="img-thumbnail shadow-4"
                                                         style="width: 70px; height: 70px"/>
                                                </a>
                                                <p class="text-dark"
                                                   th:text="${addon.name}">Name</p>
                                                <p class="text-secondary"
                                                   th:text="${addon.getCreationTime().toString().substring(0,10)}">
                                                    Creation
                                                    time</p>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </section>
                            <div class="d-grid"><a class="btn btn-primary" href="#!" th:href="@{/addons}">View
                                all addons</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>
