<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="../../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">

</head>
<body>
<div class="login-container bg-light">
    <!-- Login Form Heading -->
    <!--user login form-->
    <form class="login-form" name='f'
          th:action="@{/login}"
          method="post"
          id="loginForm">
        <h1>Login</h1>
        <!--Username-->
        <label for="username" th:text="#{user.label.username}">Username</label>
        <input id="username" placeholder="Enter your username..."
               data-sb-validations="required" input type='text' name='username' value=''/>
        <!--Password-->
        <label for="password" th:text="#{user.label.password}">Password</label>
        <input id="password" placeholder="Enter your password..."
               data-sb-validations="required" input type='password' name='password'/>
        <!--submit button-->
        <input class="button" name="submit" type="submit" value="Login"/>
        <span>Dont have an account? <a href="/users/register">Register now!</a></span>

    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>