<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Found View</title>
</head>
<body>
<!-- Not Found Text -->
<section>
    <div>
        <div>
            <h2>The required resource does not exist.</h2>
            <p th:text="${error}">Please try again.</p>
        </div>
    </div>
</section>
</body>
</html>