<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="../../static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>

<!-- New User Form -->
<div class="register-container bg-light">
    <div class="register-form">
        <!-- New User Heading -->
        <h1>Register as a new user</h1>
        <!--New User Form-->
        <form th:fragment="userform"
              action="#"
              th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${userDto}"
              method="post"
              id="userform">
            <!--first name-->
            <div class="input-field">
                <label for="firstName" th:text="#{user.label.firstName}">First Name</label>
                <input id="firstName" type="text" placeholder="Enter your first name..."
                       data-sb-validations="required" th:field="*{firstName}"/>
                <small th:errors="*{firstName}">First name error placeholder</small>
            </div>
            <!--last name-->
            <div class="input-field">
                <label for="lastName" th:text="#{user.label.lastName}">Last Name</label>
                <input id="lastName" type="text" placeholder="Enter your last name..."
                       data-sb-validations="required" th:field="*{lastName}"/>
                <small th:errors="*{lastName}">Last name error placeholder</small>
            </div>
            <!--phone number-->
            <div class="input-field">
                <label for="lastName" th:text="#{user.label.phone}">Last Name</label>
                <input id="phone" type="text" placeholder="Enter your phone number..."
                       data-sb-validations="required" th:field="*{phone}"/>
                <small th:errors="*{phone}" class="text-danger">Phone number error placeholder</small>
            </div>
            <!--email-->
            <div class="input-field">
                <label for="email" id="emailLabel" th:text="#{user.label.email}">Email</label>
                <input id="email" type="text" placeholder="Enter your email..."
                       data-sb-validations="required" th:field="*{email}"/>
                <small th:errors="*{email}">Email error placeholder</small>
            </div>
            <!--username-->
            <div class="input-field">
                <label for="username" th:text="#{user.label.username}">Username</label>
                <input id="username" type="text" placeholder="Enter your username..."
                       data-sb-validations="required" th:field="*{username}"/>
                <small th:errors="*{username}">Username error placeholder</small>
            </div>
            <!--password-->
            <div class="input-field">
                <label for="password" th:text="#{user.label.password}">Password</label>
                <input class="data-input" id="password" type="password" placeholder="Enter your password..."
                       data-sb-validations="required" th:field="*{password}"/>
                <small th:errors="*{password}">Password error placeholder</small>
            </div>
            <!--password confirmation-->
            <div class="input-field">
                <label for="password confirm" th:text="#{user.label.password}">Password</label>
                <input id="password confirm" type="password" placeholder="Re-enter your password..."
                       data-sb-validations="required"/>
                <small th:errors="*{password}">Password error placeholder</small>
            </div>
            <!--submit button-->
            <input class="sign-up-button" type="submit" value="Submit"/>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>