<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Users List</title>
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/navbar"></div>
<!-- User View -->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-0">
        <!-- User errors -->
        <div>
            <p th:text="${error}">User error placeholder</p>
        </div>
        <div class="row justify-content-start align-items-center">
            <div class="col-3">
                <div class="row">
                    <img th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(user.getImage().getImage())}"
                         class="rounded-3" style="width: 220px;"/>
                </div>
            </div>
            <div class="col-7">
                <h5 th:text="${user.firstName}+ ' ' + ${user.lastName}">Name</h5>
                <h6 th:text="'Role: ' + ${user.role.name}" class="text-secondary">Role</h6>
                <p th:if="${user.isBlocked}" class="text-danger font-weight-light">User is currently blocked.</p>
            </div>
            <div class="col-2">

            </div>
        </div>

        <div class="row justify-content-start">
            <div class="col-2 g-4 text-center" th:if="${admin || user.username == logged_username}">
                <!-- User Actions -->
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/update}">
                            Edit Profile</a>
                    </div>
                </div>

                <div class="row justify-content-center">

                    <div class="col">
                        <a class="btn btn-light" data-toggle="modal" data-target="#uploadImage">
                            Upload Image</a>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!"
                           th:href="@{__${#httpServletRequest.requestURI}__/delete-image}">
                            Delete Image</a>

                    </div>
                </div>

                <div class="row justify-content-center" th:if="${admin}">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/promote}">
                            Promote</a>
                    </div>
                </div>

                <div class="row justify-content-center" th:if="${admin}">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/block}">
                            Block</a>
                    </div>
                </div>

                <div class="row justify-content-center" th:if="${admin}">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/unblock}">
                            Unblock</a>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col">
                        <a class="btn btn-light" href="#!" th:href="@{__${#httpServletRequest.requestURI}__/delete}">
                            Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-9">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <!-- User Heading Data -->
                        <thead>
                        <tr>
                            <th scope="col">About</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <!-- User Data -->
                        <tbody class="table-group-divider">
                        <tr>
                            <td th:text="#{user.label.username}">Username</a></td>
                            <td th:text="${user.username}">Username</td>
                        </tr>
                        <tr>
                            <td th:text="#{user.label.email}">Email</a></td>
                            <td th:text="${user.email}">Email</td>
                        </tr>
                        <tr>
                            <td th:text="#{user.label.phone}">Phone</a></td>
                            <td th:text="${user.phone}">Phone</td>
                        </tr>
                        <tr>
                            <td th:text="#{user.label.firstName}">First Name</a></td>
                            <td th:text="${user.firstName}">First Name</td>
                        </tr>
                        <tr>
                            <td th:text="#{user.label.lastName}">Last Name</a></td>
                            <td th:text="${user.lastName}">Last Name</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</section>

<!-- Modal Image Upload -->
<div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="uploadImage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{__${#httpServletRequest.requestURI}__}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="formFile" class="form-label">Upload Your file</label>
                        <input name="file" class="form-control" type="file" id="formFile">
                        <p th:text="${error}">Image upload error placeholder</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Upload image</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>