<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="../../static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/navbar"></div>
<!-- User Update Form -->
<section class="bg-light py-2">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Update your profile</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-4">
                <form th:fragment="userform"
                      action="#"
                      th:action="@{__${#httpServletRequest.requestURI}__}"
                      th:object="${userDto}"
                      method="post"
                      id="userUpdateForm">
                    <!--first name-->
                    <div class="form-group">
                        <label for="firstName" th:text="#{user.label.firstName}">First Name</label>
                        <input id="firstName" type="text" placeholder="Enter your first name..."
                               data-sb-validations="required" th:field="*{firstName}" class="form-control"/>
                        <small th:errors="*{firstName}" class="form-text text-danger">First name error
                            placeholder</small>
                    </div>
                    <!--last name-->
                    <div class="form-group">
                        <label for="lastName" th:text="#{user.label.lastName}">Last Name</label>
                        <input id="lastName" type="text" placeholder="Enter your last name..."
                               data-sb-validations="required" th:field="*{lastName}" class="form-control"/>
                        <small th:errors="*{lastName}" class="form-text text-danger">Last name error placeholder</small>
                    </div>
                    <!--phone number-->
                    <div class="form-group">
                        <label for="lastName" th:text="#{user.label.phone}">Last Name</label>
                        <input id="phone" type="text" placeholder="Enter your phone number..."
                               data-sb-validations="required" th:field="*{phone}" class="form-control"/>
                        <small th:errors="*{phone}" class="form-text text-danger">Phone number error placeholder</small>
                    </div>
                    <!--email-->
                    <div class="form-group">
                        <label for="email" id="emailLabel" th:text="#{user.label.email}">Email</label>
                        <input id="email" type="text" placeholder="Enter your email..."
                               data-sb-validations="required" th:field="*{email}" class="form-control"/>
                        <small th:errors="*{email}" class="form-text text-danger">Email error placeholder</small>
                    </div>
                    <!--username-->
                    <div class="form-group">
                        <label for="username" th:text="#{user.label.username}">Username</label>
                        <input id="username" type="text" placeholder="Enter your username..."
                               data-sb-validations="required" th:field="*{username}" class="form-control"/>
                        <small th:errors="*{username}" class="form-text text-danger">Username error placeholder</small>
                    </div>
                    <!--password-->
                    <div class="form-group">
                        <label for="pass" th:text="#{user.label.password}">Password</label>
                        <input id="pass" type="password" name="pass" placeholder="Enter your password..."
                               data-sb-validations="required" th:field="*{password}" class="form-control"/>
                        <small th:errors="*{password}" class="form-text text-danger">Password error placeholder</small>

                    </div>
                    <!--confirm password-->
                    <div class="form-group">
                        <label for="confirm_pass" th:text="#{user.label.passwordConfirm}">Password</label>
                        <input id="confirm_pass" type="password" name="confirm_pass"
                               placeholder="Confirm your password..."
                               required onkeyup="validate_password()" class="form-control"/>
                        <small id="wrong_pass_alert" class="form-text text-danger"></small>
                    </div>
                    <!--submit button-->
                    <hr>
                    <button id="create" onclick="wrong_pass_alert()" type="submit" class="btn btn-secondary">Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
<!--Scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script>
    function validate_password() {

        var pass = document.getElementById('pass').value;
        var confirm_pass = document.getElementById('confirm_pass').value;
        if (pass != confirm_pass) {
            document.getElementById('wrong_pass_alert').style.color = 'red';
            document.getElementById('wrong_pass_alert').innerHTML
                = '☒ Use same password';
            document.getElementById('create').disabled = true;
            document.getElementById('create').style.opacity = (0.4);
        } else {
            document.getElementById('wrong_pass_alert').style.color = 'green';
            document.getElementById('wrong_pass_alert').innerHTML =
                '🗹 Password Matched';
            document.getElementById('create').disabled = false;
            document.getElementById('create').style.opacity = (1);
        }
    }

    function wrong_pass_alert() {
        if (document.getElementById('pass').value != "" &&
            document.getElementById('confirm_pass').value != "") {
            alert("Your response is submitted");
        } else {
            alert("Please fill all the fields");
        }
    }
</script>
</body>
</html>