<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <title>Users List</title>
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/navbar"></div>
<!-- Users -->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-0">
        <!-- Heading -->
        <div class="text-center mb-5">
            <h2>Existing users</h2>
            <p>Information about all registered users</p>
        </div>
        <!-- Search Filter Sort Form-->
        <div class="text-center mb-5">
            <form th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${userFilterDto}"
                  method="post">

                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </div>

                            <div class="input-group-text" th:text="#{user.label.username}">Username</div>
                            <input class="form-control" type="text" placeholder="Username" th:field="*{username}">

                            <div class="input-group-text" th:text="#{user.label.email}">Email</div>
                            <input class="form-control" type="text" placeholder="Email" th:field="*{email}">

                            <div class="input-group-text" th:text="#{user.label.phone}">Phone</div>
                            <input class="form-control" type="text" placeholder="Phone" th:field="*{phone}">

                        </div>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-5">
                        <div class="row">
                            <div class="col gx-4 gy-2">
                                <select class="form-select"
                                        th:field="*{roleName}">
                                    <option selected th:value="null" value="null"> Role</option>
                                    <option th:each="role : ${roles}"
                                            th:value="${role.toString()}"
                                            th:text="${role.toString()}">
                                        User
                                    </option>
                                </select>
                            </div>

                            <div class="col gx-4 gy-2">
                                <select class="form-select"
                                        th:field="*{sortBy}">
                                    <option selected th:value="null" value="null"> Sort By</option>
                                    <option th:each="sortParam : ${sortParams}"
                                            th:value="${sortParam.toString()}"
                                            th:text="${sortParam.toString()}">
                                        User
                                    </option>
                                </select>
                            </div>

                            <div class="col gx-4 gy-2">
                                <select class="form-select"
                                        th:field="*{sortOrder}">
                                    <option selected th:value="null" value="null"> Sort Order</option>
                                    <option th:each="sortOrder : ${sortOrders}"
                                            th:value="${sortOrder.toString()}"
                                            th:text="${sortOrder.toString()}">
                                        User
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-1 gx-4 gy-2">

                        <input class="form-control" type="submit" value="Submit">

                    </div>
                </div>

            </form>
        </div>
        <!-- No Users Scenario-->
        <div th:if="${users.isEmpty()}">
            <p th:text="#{users.title.empty}">No Users</p>
        </div>
        <!-- Yes Users Scenario-->
        <div class="table-responsive" th:unless="${users.isEmpty()}">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" th:text="#{user.label.username}">Username</th>
                    <th scope="col" th:text="#{user.label.email}">Email</th>
                    <th scope="col" th:text="#{user.label.firstName}">Fist Name</th>
                    <th scope="col" th:text="#{user.label.lastName}">Last Name</th>
                    <th scope="col" th:text="#{user.label.phone}">Phone</th>
                    <th scope="col" th:text="#{user.label.roleName}">Role</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="user: ${usersPage}">
                    <td>
                        <a href="#" th:href="@{/users/{id}(id=${user.getId()})}">
                            <img th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(user.getImage().getImage())}"
                                 class="rounded-circle shadow-4"
                                 style="width: 30px;"/>
                        </a>
                    </td>
                    <td th:text="${user.username}">User</td>
                    <td th:text="${user.email}"/>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.phone}">Phone</td>
                    <td th:text="${user.role.name}">Role</td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="...">
            <ul class="pagination" th:if="${usersPage.totalPages > 0}">
                <li class="page-item">
                    <a class="page-link" th:href="@{/users(size=${usersPage.size}, page=${previousPage})}"
                       tabindex="-1">Previous</a>
                </li>
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link" th:href="@{/users(size=${usersPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/users(size=${usersPage.size}, page=${nextPage})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!--FOOTER START-->
<div th:replace="fragments/footer"></div>
<!--FOOTER END-->
</body>
</html>